#logearse{
	position: absolute;
	top:20px;
	right:10px; 
}
#registrarse{
	position: absolute;
	top:62px;
	right:10px;
}

.menu{
	display: center;
	list-style:none;
	padding: 0px;
	margin:0px;
	position: absolute;
}
.menu li {
	display: block;
	position: absolute;
	right: -60px;
	width: 140px;
	height: 30px;
	padding: 10px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background-color: grey;
	position: relative;
	border-left: 2px solid #333;
	margin: 0px;
	padding: 0px;
	float: left;
	box-shadow: 2px 2px 4px 1px #000;
}
.menu li:hover{
	color:yellow;
	background-color: black;
}
.menu ul{
	position: absolute;
	left:-60px;
	top: 30px;
	margin:0px;
	list-style: none;
	padding: 0px;
	opacity: 0;
	transition:opacity .35s ease .2s;
	-webkit-transition: opacity .35s ease .2s;
	visibility: hidden;
}
.menu ul li{
	border-bottom:2px solid #333;
	border-left: none;
	display: block;
	text-align: left;

}
.menu li:hover ul{
	opacity: 1;
	visibility: visible;
	text-align: center;
}
input[placeholder] {
      color: black;
    }
::-webkit-input-placeholder { /* WebKit browsers */
    color:    grey;
}
input{
	border-radius: 20px;
	border-style: none; 
}

